.App {
  text-align: center;
  padding: 10px;


}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus{
  outline: none;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right,#2c5d64, #203a43, #0f2027);
  font-family: 'roboto', sans-serif;
}

.container{
  position: relative;
}

.select{
  position: relative;
  width: 165px;
  height: 40px;
  border-radius: 10px;
  border: 10px ;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  background: #292929;
  text-align: left;
  padding: 0 15px;
  font-size: 16px;
  cursor: pointer;
}

.select::after{
  content: '';
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 6px;
  height: 6px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.select:hover{
  background: #222222;
}

.select.active{
  background: #222222;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.options{
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: fit-content;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.options.active{
  display: block;
}

.options .item{
  color: #fff;
  text-transform: capitalize;
  width: 100%;
  height: 30px;
  padding: 0 15px;
  line-height: 3px;
  cursor: pointer;
}

.options .item.active{
  background: #292929;
}